/* .ie-breadcrumb {
  float: left;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
  color: #686868;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

.ie-breadcrumb-item {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
} */

.n-breadcrumb {
  display: none;
  padding-top: 18px;
  margin-left: 12px;
}

.ie-utility {
  position: fixed;
  top: 121px;
  width: 100%;
  z-index: 2;
  background: white;
  height: 0px;
}

#search-demo-container {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-block;
  float: left;
  margin: 1px 10px;
  margin-right: 30px;
  text-align: left;
}

#search-demo-container div._Search_display_wrapper {
    box-shadow: 2px 3px 2px #dedede;
    background-color: white;
    border-left: 1px solid #dedede;
    direction: ltr;
    display: none; /* Initial Value */
    font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B',Helvetica,Arial,sans-serif;
    font-size: 100%;
    height: 400px;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    left: auto;
    text-align: left;
    width: 350px;
    /* top: 50px; */
    z-index: 200;
}

div._Search_display_wrapper em {
  color: #4A832E;
  font-weight: bold;
  /* font-style: normal; */
}

.sk-search-box {
  min-width: 150px;
}

.sk-search-box__icon {
  display: none;
}

#search-demo-container div.search__results {
  height: 350px;
  overflow-y: scroll;
}

.search-category {
  clear: left;
  overflow-x: auto;
  overflow-y: hidden;
}

.search__results small.sk-hits-hit__hightlights {
  float: left;
  font-size: 12px;
  margin-left: 20px;
}

.search {
  border: none;
}

#react-search {
  float: left;
}

.searchbox {
  background: #FFF;
  border: 1px solid #A6A8AB;
  border-radius: 6px;
}

button.n-property-bar__search-toggle-button {
  position: relative;
  float: right;
  height: 32px;
  top: 1px;
  right: 5px;
}

.sk-search-box input.sk-search-box__text {
    height: 34px;
}

.sk-hits-hit.sk-hits__item>a:after {
  content: none !important;
}

/* Results Page */
.search__results__all .sk-hits-hit.sk-hits__item {
  margin-top: 20px;
}

.search__results__all small.sk-hits-hit__hightlights {
  float: left;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 10px;
}



/* Search Start */
.n-property-bar__search--exp {
  z-index: 0;
}

@media (min-width: 48em) {
  .n-property-bar__search-toggle {
    padding: 15px;
    margin: 0px;
  }

  .n-property-bar__search--exp {
    padding-top: 15px;
    top: 0px;
  }

  .n-property-bar__search-form-button-close {
    top: inherit;
  }
}

/* Search End */

@media screen and (min-width: 768px) {
  .ie-utility {
    display: block;
    height: 140px;
  }

  .n-breadcrumb {
    display: inline-block;
  }

  .n-property-bar__toolbar {
    float: left;
  }

  .n-breadcrumb {
    float: left;
    clear: left;
  }

  #search-demo-container {
    position: relative;
    right: auto;
    top: auto;
    margin: 8px;
    margin-top: 13px;
  }

  .sk-search-box {
    min-width: 250px;
  }

  .sk-search-box input.sk-search-box__text {
      height: initial;
  }

  button.n-property-bar__search-toggle-button {
    height: 37px;
  }
}

@media screen and (min-width: 1024px) {
  .ie-utility {
    display: block;
    height: 70px;
  }

  .n-property-bar__toolbar {
    float: right;
  }
}
